
@()

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Characteristic</th>
      <th scope="col">Adv</th>
      <th scope="col">Skill</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>Art</td>
      <td class="row">
        <div class="col">Dex</div>
        <div class="col">38</div>
      </td>
      <td>-</td>
      <td><strong>38</strong></td>
    </tr>

    <tr>
      <td>Athletics</td>
      <td class="row">
        <div class="col">Ag</div>
        <div class="col">38</div>
      </td>
      <td>3</td>
      <td><strong>41</strong></td>
    </tr>

    <tr>
      <td>Bribery</td>
      <td class="row">
        <div class="col">Fel</div>
        <div class="col">38</div>
      </td>
      <td>4</td>
      <td><strong>42</strong></td>
    </tr>

  </tbody>
</table>
