
@()

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Talent Name</th>
      <th scope="col">Times taken</th>
      <th scope="col">Related Skill</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>Night Vision</td>
      <td>1</td>
      <td>Perception</td>
      <td>You can see clearly for 20 yards per level of Night Vision.</td>
    </tr>

    <tr>
      <td>Artistic</td>
      <td>2</td>
      <td>Trade(Artist)</td>
      <td>You have naturaltalent for art, able to produce precise sketches with nothing but time and appropriate media.</td>
    </tr>

    <tr>
      <td>Coolheaded</td>
      <td>1</td>
      <td>-</td>
      <td>You gain permanent +5 bonus to your starting Willpower Characteristic. This does not count towards your Advances.</td>
    </tr>

  </tbody>
</table>
