
@import models.charactersheet.talents.Talent

@import scala.collection.mutable.{Seq => MSeq}

@(talents: MSeq[Talent])

<table class="table table-dark">

  <thead>
    <tr>
      <th scope="col">Talent Name</th>
      <th scope="col">Times taken</th>
      <th scope="col">Related Skill</th>
      <th scope="col">Description</th>
    </tr>
  </thead>

  <tbody>
    @for(talent <- talents) {
      <tr>
        <td>@{talent.definition.name}</td>
        <td>@{talent.timesTaken}</td>
        <td>@{talent.definition.relatedSkills.mkString("<br/>")}</td>
        <td>@{talent.definition.description}</td>
      </tr>
    }
  </tbody>

</table>
