
@import models.charactersheet.CharacterStats

@(characterStats: CharacterStats)

@components.page_with_bootstrap() {

  <div class="container">
    <div class="row">
      <div class="col">
        <h3 align="center">Characteristics</h3>
        @{components.characteristics_table(characterStats.characteristics)}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 align="center">Basic Skills</h3>
        @{components.skills_table(characterStats.skills.take(characterStats.skills.length / 2))}
      </div>
      <div class="col">
        <h3 align="center">Basic Skills</h3>
        @{components.skills_table(characterStats.skills.drop(characterStats.skills.length / 2))}
      </div>
      <div class="col">
        <h3 align="center">Advanced Skills</h3>
        @{components.basic_skills_table(characterStats.skills)}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 align="center">Talents</h3>
        @components.talents_table()
      </div>
    </div>

  </div>

}