
@()

@components.page_with_bootstrap() {

  <div class="container">
    <div class="row">
      <h1>Welcome to WFRP IV edition</h1>
    </div>
    <div class="row">
      <h2>Here you can create your character</h2>
    </div>
    <div class="row">
      <div class="col">
        <a role="button" class="btn btn-primary" href=@{routes.CreateCharacterController.displayPage()}>Enter Initial Characteristics</a>
      </div>
      <div class="col">
        <a role="button" class="btn btn-primary" href=@{routes.CharacterSheetController.displayPage()}>View character sheet</a>
      </div>
    </div>
  </div>

}
